<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script>
        function validateForm() {
            var email = document.forms["loginForm"]["email"].value;
            var password = document.forms["loginForm"]["password"].value;
            if (email == "" || password == "") {
                alert("Both fields must be filled out");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="form-container">
        <div>
            <h2 class="title">
                Sign in to your account
            </h2>
            <p class="subtitle">
                Or 
                <a href="{{ url_for('register') }}" class="register-link">
                    register for a new account
                </a>
            </p>
        </div>
        <form name="loginForm" class="form" action="{{ url_for('login') }}" method="POST" onsubmit="return validateForm()">
            <input type="hidden" value="true" name="remember" />
            <div class="input-group">
                <div>
                    <label class="sr-only" for="email">Email address</label>
                    <input class="input" id="email" autocomplete="off" required type="email" name="email" placeholder="Email address" />
                </div>
                <div>
                    <label class="sr-only" for="password">Password</label>
                    <input class="input" id="password" autocomplete="current-password" required type="password" name="password" placeholder="Password" />
                </div>
            </div>
            <div class="options">
                <div class="remember-me">
                    <button type="button" role="checkbox" aria-checked="false" data-state="unchecked" value="on" class="checkbox" id="remember-me"></button>
                    <input aria-hidden="true" tabindex="-1" type="checkbox" value="on" name="remember-me" class="hidden-checkbox" />
                    <label class="checkbox-label" for="remember-me">Remember me</label>
                </div>
                <div class="forgot-password">
                    <a href="#" class="forgot-password-link">Forgot your password?</a>
                </div>
            </div>
            <div>
                <button class="submit-button" type="submit">
                    Sign in
                </button>
            </div>
        </form>
        <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>
