<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <script>
        function validateForm() {
            var email = document.forms["registerForm"]["email"].value;
            var password = document.forms["registerForm"]["password"].value;
            var confirmPassword = document.forms["registerForm"]["confirm_password"].value;
            if (email == "" || password == "" || confirmPassword == "") {
                alert("Todos los campos deben ser completados");
                return false;
            }
            if (password !== confirmPassword) {
                alert("Las contraseñas no coinciden");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container">
  <div class="form-container">
    <div class="header">
      <h1 class="title">Registro</h1>
      <p class="subtitle">Crea una nueva cuenta para empezar.</p>
    </div>
    <form name="registerForm" class="form" action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
      <div class="input-group">
        <label class="label" for="email">Email</label>
        <input class="input" id="email" placeholder="m@example.com" required type="email" name="email" autocomplete="off" />
      </div>
      <div class="input-group">
        <label class="label" for="password">Password</label>
        <input class="input" id="password" placeholder="Password" required type="password" name="password" autocomplete="off" />
      </div>
      <div class="input-group">
        <label class="label" for="confirm-password">Confirm Password</label>
        <input class="input" id="confirm-password" placeholder="Confirm Password" required type="password" name="confirm_password" autocomplete="off" />
      </div>
      <button class="submit-button" type="submit">Registrar</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="footer">
      ¿Ya tienes una cuenta? 
      <a class="login-link" href="{{ url_for('login') }}">Inicia sesión</a>.
    </div>
  </div>
</div>
</body>
</html>
